<html>
<head>
<title>ScalaJS implementation of Angular and Endpoints</title>
<link rel="stylesheet" href="css/foundation.css" />
<link rel="stylesheet" href="css/app.css" />
</head>
<body ng-app="app">

  <div class="row">
    <div class="large-12 columns">
      <h1>Angular using Endpoints in ScalaJS</h1>
    </div>
  </div>
  
  <div ng-controller="ListController as list">
    <div class="row">
      <div class="large-12 columns">
        <label>Create</label>
        <p>Create a new list entity</p>
        <form ng-submit="post()">
          <input type="text" ng-model="postInput">
          <input type="submit" value="POST">
        </form>
      </div>
      <div class="large-12 columns">
        <label>Get</label>
        <p>Get a created entity via its id.</p>
        <form ng-submit="get()">
          <input type="number" ng-model="getInput">
          <input type="submit" value="GET">
          <textarea ng-model="getOutput"></textarea>
        </form>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>

  <script src="sbt-for-scala-js-build-fastopt.js"></script>
  <script src="js/vendor/jquery.min.js"></script>
  <script src="js/vendor/what-input.min.js"></script>
  <script src="js/foundation.min.js"></script>
  <script src="js/app.js"></script>

  <script src="https://apis.google.com/js/client.js?onload=localInit"></script>
  
  <!-- The only javascript you need! -->
  <script type="text/javascript">
	  //Start foundation
    $(document).foundation();
  
    // Start Angular
    io.cenet.angular.AngularModule().main();
  
    // Endpoints callback when it's loaded
    function localInit() {
      io.cenet.endpoints.LocalInit().localInit();
    }
  </script>
</body>
</html>